section {     
    height: 500px;
    width: 820px;
    display: flex;
    flex-flow: row wrap;
    margin-left: 25px;
   }

.case {
    height: 120px;
    width: 200px;
    margin: 1px;
    float: left;
    position: relative;
    border: solid 1px rgb(0, 0, 0);
    cursor: pointer;
}

.mask {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: skyblue;
    cursor: pointer;

}

article, aside {
    font-size: 20px;
    font-weight: bold;
    margin: 25px;
}
img {
    position: absolute;
    height: 120px;
    width: 200px;
    margin: 1px;
    z-index: 1;
}
.noMask {
    background: none;
}

